#wizard{
	padding-top: 20px;
	padding-bottom: 60px; 

}
/*ul.anchor{
	display: none;
}*/
.modal-title{
	font-size: 18px
}

/* Choice List */
li.choice{
	cursor: pointer;
}
span.answer{
	color: #EF8821;
}
.modal-dialog{
	margin: 100px auto;
}
.m-quiz-notif i{
	color:#5cb85c;
	font-size: 75px;
}

.tablenav-pages-navspan{
	height: 28px;
}

.row{
	margin-right: 0;
}
.actionBar{
	margin-top:15px;
}
.actionBar .btn{
	color: #EF8821;
	border-color: #EF8821;
	background-color: #fff;
	max-width: 160px;
    width: 100%;
    margin-right: 2.5em;
}
.actionBar .btn:last-child{
	margin-right: 0; 
}

.error-input{
	border-color: red; 
}

.pricing_footer .btn{
	color: #fff;
	background-color: #EF8821;
}

/* *********  form wizard  **************************** */

.form_wizard .stepContainer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 solid #CCC;
    overflow-x: hidden;
}
/**-------**/

.wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}

.wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: center;
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity: 100);
    opacity: 1;
    color: #666;
}

.wizard_horizontal ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ccc;
    top: 20px;
    width: 100%;
    z-index: 4;
    left: 0;
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
    background: #ccc;
}

.wizard_horizontal ul.wizard_steps li a .step_no {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.wizard_horizontal ul.wizard_steps li a.selected:before,
.step_no {
    background: #34495E;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li a.done:before,
.wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #EF8821;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
    left: 50%;
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
    right: 50%;
    width: 50%;
    left: auto;
}
.actionBar{
	text-align: center;
}
/**-------**/

/* *********  pricing  **************************** */

.pricing {
    background: #fff;
}

.pricing .title {
    background: #EF8821;
    height: 110px;
    color: #fff;
    padding: 15px 0 0;
    text-align: center;
}

.pricing .title h2 {
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    margin: 0;
    font-weight: 400;
}

.pricing .title h1 {
    font-size: 30px;
    margin: 12px;
}

.pricing .title span {
    background: rgba(51, 51, 51, 0.28);
    padding: 2px 5px;
}

.pricing_features {
    background: #FAFAFA;
    padding: 20px 15px;
    min-height: 230px;
    font-size: 13.5px;
}

.pricing_features ul li {
    margin-top: 10px;
}

.pricing_footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pricing_footer p {
    font-size: 13px;
    padding: 10px 0 2px;
    display: block;
}

.ui-ribbon-container {
    position: relative;
}

.ui-ribbon-container .ui-ribbon-wrapper {
    position: absolute;
    overflow: hidden;
    width: 85px;
    height: 88px;
    top: -3px;
    right: -3px;
}

.ui-ribbon-container.ui-ribbon-primary .ui-ribbon {
    background-color: #5b90bf;
}

.ui-ribbon-container .ui-ribbon {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    line-height: 20px;
    background-color: #555;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.ui-ribbon-container.ui-ribbon-primary .ui-ribbon:after,
.ui-ribbon-container.ui-ribbon-primary .ui-ribbon:before {
    border-top: 2px solid #5b90bf;
}

.ui-ribbon-container .ui-ribbon:before {
    left: 0;
    bottom: -1px;
}

.ui-ribbon-container .ui-ribbon:before {
    right: 0;
}

.ui-ribbon-container .ui-ribbon:after,
.ui-ribbon-container .ui-ribbon:before {
    position: absolute;
    content: " ";
    line-height: 0;
    border-top: 2px solid #555;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.pricing_footer .btn{
	margin-right: auto; 
}
/* *********  /pricing  **************************** */

/* *********  Tile stats  **************************** */

.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: #FFF;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tile-stats:hover .icon i {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    color: rgba(58, 58, 58, 0.41);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

.tile-stats .icon {
    color: #BAB8B8;
    position: absolute;
    right: 53px;
    top: 22px;
    z-index: 1;
}

.tile-stats .icon i {
    margin: 0;
    font-size: 60px;
    line-height: 0;
    vertical-align: bottom;
    padding: 0;
}

.tile-stats .count {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857143
}

.tile-stats .count,
.tile-stats h3,
.tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 10px;
    z-index: 5;
    padding: 0;
}

.tile-stats h3 {
    color: #BAB8B8;
}

.tile-stats p {
    margin-top: 5px;
    font-size: 12px;
}

.tile-stats > .dash-box-footer {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.tile-stats > .dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.tile-stats > .dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

table.tile_info {
    padding: 10px 15px;
}

table.tile_info span.right {
    margin-right: 0;
    float: right;
    position: absolute;
    right: 4%;
}

.tile:hover {
    text-decoration: none;
}

.tile_header {
    border-bottom: transparent;
    padding: 7px 15px;
    margin-bottom: 15px;
    background: #E7E7E7;
}

.tile_head h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.tiles-bottom {
    padding: 5px 10px;
    margin-top: 10px;
    background: rgba(194, 194, 194, 0.3);
    text-align: left;
}
/* *********  /Tile stats  **************************** */
